
# Created by https://www.gitignore.io/api/actionscript

### Actionscript ###
# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin
target/
.idea/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.iml

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# End of https://www.gitignore.io/api/actionscript
/Synchronization/target/
/Frames/target/
/Exercises/target/
/HowToRunTestWithChrome/target/
/TestNGBasics/target/
/TestNGDemo1/target/
/TestNgBasicDemo2/target/
/PropertiesFileDemos/target/
/SauceLabDemo1/target/
/Test Results - PruefungsAnAbmeldungPOMTest_ok.html
/Test Results - PruefungsAnAbmeldungPOMTest.html